<mat-card class="md:p-10">
  <mat-card-content class="text-lg">
    <mat-tab-group
      style="background: white"
      [(selectedIndex)]="selectedIndex"
      (selectedIndexChange)="onSelectTab($event)"
    >
      @for (hub of hubs; track hub.name) {
        <mat-tab [label]="hub.name"> </mat-tab>
      }
    </mat-tab-group>

    <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-4 mt-4">
      <div class="flex flex-col gap-3">
        <div class="w-2/4">
          <mat-form-field class="w-full">
            <mat-label>Search</mat-label>
            <input
              matInput
              type="text"
              [formControl]="searchControl"
              placeholder="Project Name/Description"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-row space-x-[10px] items-center justify-end">
        <button mat-mini-fab color="primary" (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="projectsTableDataSource"
      style="margin-top: 2rem"
    >
      @for (column of projectsTableDisplayedColumns; track column) {
        <ng-container [matColumnDef]="column">
          <th class="whitespace-nowrap" mat-header-cell *matHeaderCellDef>
            {{ column }}
          </th>
          <td class="whitespace-nowrap" mat-cell *matCellDef="let element">
            {{ element[projectsTableColumnMap[column]] }}
          </td>
        </ng-container>
      }
      <tr mat-header-row *matHeaderRowDef="projectsTableDisplayedColumns"></tr>
      <tr
        mat-row
        class="hover:bg-slate-100 cursor-pointer"
        *matRowDef="let row; columns: projectsTableDisplayedColumns"
      ></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 50]"
      [pageSize]="pageSize"
      length="9999"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
