<!-- Toolbar -->
<div class="bui-header-wrapper">
  <div class="bui-header">
    <img
      class="bgsi-logo"
      src="../assets/images/bgsi-logo.png"
      alt="logo bgsi"
    />
    <img
      class="kemenkes-logo"
      src="../assets/images/Kemenkes-logo.png"
      alt="logo bgsi"
    />
    <div class="bui-logo">
      <h1><a href="/login">BGSi Project Catalogue</a></h1>
    </div>
  </div>
</div>
<div class="bui-card-background">
  <div class="bui-card-resize">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="bui-footer">
  <p class="bui-byline font-bold text-primary-60" style="font-weight: 700">
    BGSi Data Portal &#64;2024 | Kementerian Kesehatan Indonesia
  </p>
</div>
<app-global-spinner />
