# common
region = "XXXX"
common-tags = {
    "Owner" = "gaspi"
    "Environment" = "dev"
}
# hub APIs - correspond to the Beacon API url of each hub
# The first masked value corresponds to the API ID
# The second masked value corresponds to the deployment region
api-endpoint-hubs = {
    "hub1" = "https://XXXX.execute-api.XXXX.amazonaws.com"
}